/* _content/GrandmasBookShop/Views/Shared/_Layout.cshtml.rz.scp.css */
/* custom.css */

.logo-image[b-az6rsd5cw0] {
    height: 80px;
}

.cart-icon[b-az6rsd5cw0] {
    height: 24px;
    width: auto;
}

.cart-badge[b-az6rsd5cw0] {
    background-color: #ffc107;
    color: #212529;
    margin-left: 5px;
}
